AzureSettings__BotName=transcription-bot
AzureSettings__AadAppId=1fea056f-2339-4d48-8349-cb1a8c890d6a
AzureSettings__AadAppSecret=JR510UPDr5yB6U-axXwV5AT.5CM_Vxg-.i
AzureSettings__ServiceDnsName=aksrec.techunicorn.co
AzureSettings__CertificateThumbprint=08b09b42df27eda62dcfc9b6157134197a648b34
AzureSettings__InstancePublicPort=28550
AzureSettings__CallSignalingPort=9441
AzureSettings__InstanceInternalPort=8445
AzureSettings__PlaceCallEndpointUrl=https://graph.microsoft.com/v1.0
AzureSettings__CaptureEvents=false
AzureSettings__PodName=bot-0
AzureSettings__MediaFolder=archive
AzureSettings__EventsFolder=events
AzureSettings__TopicKey=
AzureSettings__TopicName=recordingbotevents
AzureSettings__RegionName=westeurope
AzureSettings__IsStereo=false
AzureSettings__WAVSampleRate=
AzureSettings__WAVQuality=100